@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.board h3 {
  background: #0003FF;
  color: gold;
  font-family: "Swiss911 XCm BT";
  padding: 19px;
  text-align: center;
}

.board div {
  background: #0003FF;
  color: gold;
  font-family: "Swiss911 XCm BT";
  padding: 19px;
  text-align: center;
}

.settings {
  position: absolute;
  bottom: 30px; 
  left: 30px;
}

.team-card {
  background-color: #0003FF;
  margin: 0 3px;
}

.team-name {
  background-color: #0104d2;
  font-size: 24px;
 
  padding: 1px 2px;
}

.team-money {
  color: gold;
}

.add-score, .minus-score {
  font-size: 24px;
  width: 100%;

}

.add-score {
  background-color: green;
}

.minus-score {
  background-color: red
}